.cellphone {
  width: 100%;

  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .4)
}

.feebox {
  min-height: 500px;
}

.desktop {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1199px) {
  .logoline svg path { fill: #fff; }
  .panel {
    padding-top: 30px;
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.17);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.17);
  }
  .desktop .bg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .desktop {
    min-height: 80vh;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.17);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.17);
  }
  .logoline, .panel {
    width: 50%;
  }
  .desktop .bg {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: 20% 0 no-repeat;
    background-image: url('../girl.png');
    -webkit-background-size: cover;
    background-size: cover;
  }
  .desktop .bg img {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 0;
  }
}

.logoline {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .logoline {
    padding-top: 8%;
    margin-bottom: 2.5%;
  }
}
.logoline .svg-wp {
  display: inline-block;
  width: 230px;
  max-width: 46%;
  position: relative;
}
.logoline .svg-wp:before {
  content: '';
  display: block;
  padding-top: 24.78%;
}
.logoline svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.panel {
  background: #fff;
/*  -webkit-box-shadow: 0 24px 44px hsla(227, 70%, 17%, 0.17);
  box-shadow: 0 24px 44px hsla(227, 70%, 17%, 0.17);
*/}

.thankyou {
  margin-top: 30px;
}

.ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
  padding: 0px !important;
}

.ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
  width: 33.3%;
  color: #888;
}

.ant-tabs .ant-tabs-large-bar .ant-tabs-tab-active {
  color: rgb(252, 92, 15);
}

.ant-tabs-nav {
  width: 100%;
}

.ant-tabs-ink-bar {
  height: 3px;
  background: rgb(252, 92, 15)
}

.toptitle {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.toptitle h1 {
  margin: 0;
  font-weight: bold;
  text-align: center;
  /*line-height: 59px;*/
  /*padding-left: 52px;*/
  font-size: 42px;
  /*float: left;*/
  font-family: 'Adobe Caslon Pro', Times, Baskerville, Georgia, serif;
}
.orderside { display: none; }
.tablist {
  white-space: nowrap;
  text-align: center;
  background: #fff;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.tablist::-webkit-scrollbar { display: none; }

.tabunit {
  padding: 14px 15px 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #252525;
  background: #fff;
  border: 1px solid #C3C3C3;
  position: relative;
  /*width: calc(25% - 24px);*/
  /*float: left;*/
  /*margin-left: 12px;*/
  /*margin-right: 12px;*/
  /*border-bottom: solid 3px #ccc;*/
}
@media screen and (max-width: 599px) {
  .tablist { padding: 0 24px; }
  .tabunit:not(:last-child) { margin-bottom: 8px; }
}
@media screen and (min-width: 600px) {
  .tabunit {
    display: inline-block;
    margin-right: 6px;
  }
  .tabunit:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -6px;
    display: block;
    width: 9px;
    height: 9px;
    background: #fff;
    border: 0 solid #c3c3c3;
    border-width: 1px 1px 0 0;
    transform: translate(-2px, -50%) rotate(45deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .tabunit:last-child { margin-right: 0; }
  .tabunit:last-child:after { display: none; }
  .activeTab:after {
    border: 0;
    background: #D02504;
  }
}
.activeTab {
  color: #fff;
  background: #D02504;
  border: 0;
}
.feedwrapper {
  text-align: left;
}

.clear {
  width: 100%;
  height: 0px;
  display: block;
  clear: both;
  float: none;
  content: ''
}

.reviewCardStyle1 {
  width: 100%;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  ant-card-type-inner .ant-card-body {
    padding: 16px 24px;
    padding-bottom: 300px;
  }

  .backimg {
    display: block;
  }


  .feedbox {
    padding-bottom: 10px;
  }

  .desktop {
    margin-bottom: 30px;
  }

  /*.tablist {
    width: calc(100% - 40px);
    margin-left: 20px;
  }*/

  .toptitle h1 {
    font-size: 32px;
    /*padding-left: 24px;*/
  }

/*  .tabunit {
    width: calc(33.3% - 12px);
    margin-left: 6px;
    margin-right: 6px;
  }
*/
}