.cellphone {
  width: 100%;

  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .4)
}

.feebox {
  min-height: 500px;
}

.desktop {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  /*background: #fff; */
  /*border-radius: 10px; overflow: hidden;*/
  /*box-shadow: 2px 2px 2px rgba(0,0,0,.4)*/
}

.logoline {
  padding: 60px 0 30px;
  text-align: center;
}
.logoline img {
  max-width: 64%;
}
@media screen and (max-width: 1023px) {
  .logoline {
    padding-bottom: 50px;
  }
}

.panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .panel {
    max-width: 632px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .panel {
    padding: 3% 5% 10%;
    padding-right: 39%;
    border-radius: 7px;
    overflow: hidden;
    background: #DEA9C8 url('../bg.jpg') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0 5px 20px hsla(227, 0%, 0%, 0.4);
    box-shadow: 0 5px 20px hsla(227, 0%, 0%, 0.4);
  }
}

.thankyou {
  margin-top: 30px;
}

.ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
  padding: 0px !important;
}

.ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
  width: 33.3%;
  color: #888;
}

.ant-tabs .ant-tabs-large-bar .ant-tabs-tab-active {
  color: rgb(252, 92, 15);
}

.ant-tabs-nav {
  width: 100%;
}

.ant-tabs-ink-bar {
  height: 3px;
  background: rgb(252, 92, 15)
}

.toptitle {
  width: 100%;
  margin-bottom: 5%;
}

.toptitle h1 {
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  font-style: italic;
}
.toptitle h1 strong {
  font-weight: bold;
  font-style: normal;
}
@media screen and (max-width: 1023px) {
  .toptitle h1 {
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  .toptitle h1 { font-size: 32px; }
}
@media screen and (min-width: 768px) {
  .toptitle h1 { font-size: 37px; }
}
.tablist {
  margin-bottom: 8%;
  text-align: center;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.tablist::-webkit-scrollbar { display: none; }

.tabunit {
  padding: 19px 10px 17px 18px;
  font-size: 16px;
  color: #D44F7C;
  background: #fff;
}
.activeTab {
  color: #fff;
  background: #D44F7C;
}
@media screen and (max-width: 767px) {
  .tabunit { padding: 15px 20px 13px; }
  .tabunit:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .tablist {
    white-space: nowrap;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .tabunit {
    display: inline-block;
    flex: 1 1 auto;
  }
  .tabunit:last-child { padding-right: 18px; }
  .tabunit:not(:first-child) {
    position: relative;
    margin-left: 28px;
  }
  .tabunit:before {
    content: url('../tab-indicator-default.svg');
    position: absolute;
    left: -28px;
    top: 0;
  }
  .tabunit:first-child:before { display: none; }
  .activeTab + .tabunit:before { content: url('../tab-indicator-after.svg'); }
  .passedTab + .activeTab:before { content: url('../tab-indicator-before.svg'); }
}

.feedwrapper { text-align: left; }

.clear {
  width: 100%;
  height: 0px;
  display: block;
  clear: both;
  float: none;
  content: ''
}

.reviewCardStyle1 {
  width: 100%;
  font-size: 15px;
}
.panel .ant-card-type-inner .ant-card-body {
  padding: 16px 0;
}

@media screen and (max-width: 768px) {
  .ant-card-type-inner .ant-card-body {
    padding-bottom: 300px;
  }

  .feedbox {
    padding-bottom: 10px;
  }

  .desktop {
    width: 82%;
    margin-bottom: 30px;
  }
}