img {
  max-width: 100%;
  height: auto;
}
.h2 {
  color: inherit;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
}
.highlight {
  color: #FEFC9E !important;
}
a.highlight {
  font-style: normal !important;
  text-decoration: none !important;
}
a.highlight:hover { text-decoration: underline !important; }
.ita { font-style: italic; }
.center-align { text-align: center; }
p {
  line-height: 1.6;
  font-size: 16px;
}
p a { text-decoration: underline; }
.p { margin: 1.6em 0; }
.p:first-child { margin-top: 0; }
.p:last-child { margin-bottom: 0; }
.p-l { font-size: 18px; }
.quiet { color: #666; }
.small { font-size: 14px; }
.x-small { font-size: 12px; }
::-webkit-input-placeholder {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-style: italic;
  font-size: 15px;
}
::-moz-placeholder {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-style: italic;
  font-size: 15px;
}
:-ms-input-placeholder {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-style: italic;
  font-size: 15px;
}
:-moz-placeholder {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-style: italic;
  font-size: 15px;
}
.content {
  padding-bottom: 8%;
  /*max-width: 500px;
  margin: 10% auto;*/
}
.row:not(:last-child) { margin-bottom: 20px; }
.row-lg:not(:last-child) { margin-bottom: 45px; }
.searchline {
  margin: 12px 0;
  position: relative;
}
.searchline .ant-input {
  flex: 1 1 auto;
  border: 0;
  border-radius: 0;
}
.searchline .ant-input {
  width: 100%;
  border-radius: 100px !important;
  background: #fff url(../search.svg) calc(100% - 20px) 50% no-repeat !important;
  -webkit-background-size: 23px auto !important;
  background-size: 23px auto !important;
}
.searchline .ant-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: #eee !important;
  color: #444 !important;
  text-transform: uppercase;
}
@media screen and (min-width: 500px) {
  .searchline .ant-input {
    padding-left: 60px !important;
    background-position: 20px !important;
  }
}
.form-row { margin-bottom: 15px; }
.multi-inputs-3 > input,
.multi-inputs-3 > select {
  display: inline-block;
  width: calc(100%/3 - 10px);
  margin-right: 15px;
}
.multi-inputs-3 > :last-child { margin-right: 0; }
/* reset ant */
.ant-input,
.ant-btn {
  border-radius: 100px !important;
  padding: 0 20px !important;
  height: 54px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  border: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ant-input {
  /*color: #fff !important;*/
  letter-spacing: 0.5px;
}
.ant-input:focus {
  -webkit-box-shadow: none !important;
  outline: none !important;
  box-shadow: none !important;
}
a.ant-btn { line-height: 60px !important; }
.ant-btn {
  padding: 0 25px !important;
  color: #fff !important;
  border: 0 !important;
  background: #D44F7C 50% 50% no-repeat !important;
}
.ant-btn + .ant-btn { margin-left: 10px; }
.ant-btn > span, .ant-btn > img {
  vertical-align: middle;
}
.ant-btn > img:last-child {
  margin-left: 10px;
}
.ant-btn-default {
  color: #000 !important;
  background: #fff !important;
}
.anticon-star { margin-top: 0 !important; }
.anticon-star svg {
  width: 60px !important;
  height: 60px !important;
}
@media screen and (max-width: 429px) {
  .anticon-star svg {
    width: 40px !important;
    height: 40px !important;
  }
}
.ant-rate-star:not(:last-child) { margin-right: 10px !important; }
.ant-rate-star-first, .ant-rate-star-second { color: #fff !important; }
.ant-rate-star-full .ant-rate-star-first,
.ant-rate-star-full .ant-rate-star-second { color: #FFD45C !important; }
.ant-btn-default,
.btn-next {
  padding: 0 40px !important;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  border: 2px solid #fff !important;
  font-size: 18px !important;
  letter-spacing: 1px;
  background: none !important;
}
.btn-next {
  border: 0 !important;
  background: #D44F7C !important;
}
@media screen and (max-width: 767px) {
  .btn-next:only-child {
    width: 100%;
  }
}
.btn-round {
  border-radius: 100px !important;
  padding-left: 2.67em !important;
  padding-right: 2.67em !important;
}
.btn-highlight {
  background: #D44F7C !important;
  border-radius: 100px !important;
  font-size: 18px !important;
  font-style: normal !important;
  padding: 0 40px !important;
}
.ant-card {
  color: #fff !important;
  background: transparent !important;
}
.content .ant-radio-inner,
.content .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  border-color: #fff;
  background: none;
}
.content .ant-radio-checked .ant-radio-inner,
.content .ant-checkbox-checked:after { border-color: #fff; }
.content .ant-radio-inner:after { background-color: #fff; }
.content .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.content .ant-checkbox:hover .ant-checkbox-inner,
.content .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #fff;
}
.content .ant-radio-wrapper:hover .ant-radio,
.content .ant-radio:hover .ant-radio-inner,
.content .ant-radio-input:focus + .ant-radio-inner,
.content .ant-checkbox-wrapper:hover .ant-checkbox,
.content .ant-checkbox:hover .ant-checkbox-inner,
.content .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #fff;
}
.content .ant-radio-wrapper {
  display: inline-block;
  margin-bottom: 5px;
}
.content .ant-radio-inner:after {
  width: 12px;
  height: 12px;
}
.content .ant-checkbox-inner:after {
  width: 6px;
  height: 11px;
  top: 45%;
  left: 27%;
}
.content .ant-radio-checked::after { border: 0; }
.content .ant-radio-input:focus + .ant-radio-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content .ant-checkbox-checked .ant-checkbox-inner {
  background: none;
  border-color: #fff;
}
.content .ant-checkbox-checked .ant-checkbox-inner::after {
  border-width: 0 2px 2px 0;
  border-color: #fff;
}
.content span.ant-radio + *,
.content span.ant-checkbox + span {
  padding-left: 10px;
  padding-right: 10px;
}
.content .ant-checkbox { float: left; }
.content span.ant-checkbox + span {
  display: block;
  line-height: 1.5;
  overflow: hidden;
}
.content .ant-checkbox-wrapper:last-child .ant-checkbox + span {
  padding-right: 0;
}
.content .ant-radio-group { color: inherit; }
.content .ant-radio-wrapper,
.content .ant-checkbox-wrapper {
  color: inherit;
  margin-right: 30px;
  font-size: 16px;
}
.content .ant-radio-wrapper:last-child,
.content .ant-checkbox-wrapper:last-child { margin-right: 0; }

.textbox .bottomtext{text-align:left;font-style:italic; font-size:14px; width:100%; margin-top: 50px;padding-bottom: 40px; z-index: 10; position: relative;}
.textbox{text-align: left; padding-left:52px;padding-top: 30px;float: left; width: 100%;}
/*.textbox p{font-size:18px; margin-bottom: 0px;}*/
.textbox .searchbar{width: 400px; margin-top: 20px; }
.textbox .ant-btn-primary{background-color: rgb(252, 92, 15); border-color:rgb(252, 92, 15)}

.desktop .ant-btn-primary:hover, .ant-btn-primary:focus{
      background-color: rgb(232, 75, 10);
    border-color: rgb(252, 92, 15);
}
.ant-card-bordered{border:none !important;}




/*.textbox .ant-input-group .ant-input{background: #eee}
.backimg{position: absolute;    right: 140px;
    bottom: 50px; width: 200px; z-index: 0}
.questitle{font-size: 20px; font-weight: bold; color:#0fb6fc;margin-bottom: 0px;}
.opt {width: 60%;}
.opt span{font-size:16px;}
.feedwrapper{padding-left: 52px; margin-bottom: 30px;}
.feedbox .mybtn{background-color: rgb(252, 92, 15); font-size:18px; height: 40px; width: 200px}
.feedbox .mybtna{background-color: rgb(252, 92, 15); font-size:16px; height: 40px; width: 300px;}
.feedbox .mybtna span{line-height: 40px;}
.mybtn span{line-height: 40px;}
.mydefaultbtn{line-height: 40px;font-size:18px !important; margin-left: 10px;height: 40px !important; width: 140px}
.mydefaultbtn span{line-height: 40px;color:#666}
.contentbox{ margin-bottom: 30px; }
.feedbox{padding-top: 30px; padding-bottom: 40px;}
.feedbox .ant-radio-wrapper{    border-radius: 5px;
    background: #eee;
    padding: 10px;margin-top:10px;}
.anticon-star{margin-top:20px;}
#reviewb{padding-left:52px; padding-right: 52px}
.reviewCardStyle{font-size:16px; width: 700px; margin-bottom: 0px;}
.feedbox .ant-radio-wrapper span{font-size:16px;}
.feedbox .myinput{width: 400px;margin-bottom: 20px;}

.frozeninput .ant-input{ border:none; background: transparent;width: 400px; color:#333;}
.anticon-star svg{width: 1.5em; height:1.5em;}
.contentbox .ant-upload{}
.thankyou p{font-family: 'Pacifico', cursive; font-size: 26px; line-height:40px;margin:0px !important;color:#333;}
.contentbox .ant-upload-list{width: 300px}

.thankyou .anticon-star{margin-top: 0px !important;}
.feedbox .mytextarea{font-size:18px; width: 700px; height: 100px;}

.labela{float:left;margin-right:10px;} */
.orderside{font-size: 16px;
    color: #fff;
    line-height: 30px;
    /*padding-top: 25px;
    line-height: 1;*/
    line-height: 59px;
    float: right;
    margin-right: 30px;}
/*
.image_list{ padding:0px;}
.image_unit{object-fit: cover; width:120px; height:120px; margin-right:10px;}
.thankyou .anticon-delete{display: none !important;}
.resultblock{padding-left:0px;margin-top:20px;}
.resultblock .anticon-star svg{width: 1em}
.resultblock .ant-rate-star:not(:last-child){margin-right: 3px;}
.resultblock>li{list-style: none; padding-left: 10px;width: 360px;}
.resultblock>li{border-bottom: solid 1px #eee}
.resultblock p{font-family: Arial; font-size: 16px; color:#666; line-height: 30px;}
.resultblock label{font-size: 16px;line-height: 30px;font-weight: bold}
 .bottomtextb{margin-top:20px;width:400px}
.screenshotamazon{width: 400px}
.reviewCardStyle1.special1{width: 400px}
@media screen and (max-width: 768px) {
 .bottomtextb{margin-top:20px;width:100%}
.screenshotamazon{width: 100%}
.special1{width:100%}
.textbox{padding-left:0px;padding-bottom: 260px;}

.backimg{display: none !important;}
.textbox .backimg{display: block !important;}
.opt {width: 100%;}
.orderside{float: left; color:#666; margin-left: 23px;display: none;}

.feedbox .myinput{width: 100%;}
#reviewb{padding-left:0px; padding-right: 0px;}
.reviewCardStyle{width: 100%}
.feedwrapper{padding-left:0px;}
.toptitle h1{padding-left: 22px;float:left;display: block;}
.feedbox .mybtn{width: 100%;}
.mydefaultbtn{width: 100%; margin-left: 0px; margin-top: 20px}
.textbox .searchbar{width: 100%; margin-top: 20px; }
.forthanking{display: block}
.thankyou{padding-bottom: 20px; padding-top:0px;}
.feedboxb{padding-top:0px; padding-bottom: 10px;}}*/
