
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../Pacifico-Regular.ttf'); /* IE9 Compat Modes */
}

.textbox .bottomtext{text-align:left;font-style:italic; font-size:14px; width:100%; margin-top: 50px;padding-bottom: 40px; }
.textbox{text-align: left; padding-left:52px;padding-top: 30px;float: left; width: 100%;}
.textbox p{font-size:18px; margin-bottom: 0px;}
.textbox .searchbar{width: 400px; margin-top: 20px; }
.textbox .ant-btn-primary{background-color: rgb(252, 92, 15); border-color:rgb(252, 92, 15)}

.desktop .ant-btn-primary:hover, .ant-btn-primary:focus{
      background-color: rgb(232, 75, 10);
    border-color: rgb(252, 92, 15);
}
.ant-card-bordered{border:none !important;}
.textbox .ant-input-group .ant-input{background: #eee}
.backimg{position: absolute;    right: 40px;
    bottom: 50px;}
.questitle{font-size: 20px; font-weight: bold; color:#0fb6fc;margin-bottom: 0px;}
.opt {width: 60%;}
.opt span{font-size:16px;}
.feedwrapper{padding-left: 52px; margin-bottom: 30px;}
.feedbox .mybtn{background-color: rgb(252, 92, 15); font-size:18px; height: 40px; width: 200px}
.feedbox .mybtna{background-color: rgb(252, 92, 15); font-size:16px; height: 40px; width: 300px;}
.feedbox .mybtna span{line-height: 40px;}
.mybtn span{line-height: 40px;}
.mydefaultbtn{line-height: 40px;font-size:18px !important; margin-left: 10px;height: 40px !important; width: 140px}
.mydefaultbtn span{line-height: 40px;color:#666}
.contentbox{ margin-bottom: 30px; }
.feedbox{padding-top: 30px; padding-bottom: 40px;}
.feedbox .ant-radio-wrapper{    border-radius: 5px;
    background: #eee;
    padding: 10px;margin-top:10px;}
.anticon-star{margin-top:20px;}
#reviewb{padding-left:52px; padding-right: 52px}
.reviewCardStyle{font-size:16px; width: 700px; margin-bottom: 0px;}
.feedbox .ant-radio-wrapper span{font-size:16px;}
.feedbox .myinput{width: 400px;margin-bottom: 20px;}

.frozeninput .ant-input{ border:none; background: transparent;width: 400px; color:#333;}
.anticon-star svg{width: 1.5em; height:1.5em;}
.contentbox .ant-upload{}
.thankyou p{font-family: 'Pacifico', cursive; font-size: 26px; line-height:40px;margin:0px !important;color:#333;}
.contentbox .ant-upload-list{width: 300px}

.thankyou .anticon-star{margin-top: 0px !important;}
.feedbox .mytextarea{font-size:18px; width: 700px; height: 100px;}

.labela{float:left;margin-right:10px;}
.orderside{font-size: 16px;
    color: #fff;
    line-height: 30px;
    padding-top: 20px;
    float: right;
    margin-right: 30px;}
.image_list{ padding:0px;}
.image_unit{object-fit: cover; width:120px; height:120px; margin-right:10px;}
.thankyou .anticon-delete{display: none !important;}
.resultblock{padding-left:0px;margin-top:20px;}
.resultblock .anticon-star svg{width: 1em}
.resultblock .ant-rate-star:not(:last-child){margin-right: 3px;}
.resultblock>li{list-style: none; padding-left: 10px;width: 360px;}
.resultblock>li{border-bottom: solid 1px #eee}
.resultblock p{font-family: Arial; font-size: 16px; color:#666; line-height: 30px;}
.resultblock label{font-size: 16px;line-height: 30px;font-weight: bold}
@media screen and (max-width: 768px) {
.textbox{padding-left:0px;padding-bottom: 260px;}

.backimg{display: none !important;}
.textbox .backimg{display: block !important;}
.opt {width: 100%;}
.orderside{float: left; color:#666; margin-left: 23px;display: none;}

.feedbox .myinput{width: 100%;}
#reviewb{padding-left:0px; padding-right: 0px;}
.reviewCardStyle{width: 100%}
.feedwrapper{padding-left:0px;}
.toptitle h1{padding-left: 22px;float:left;display: block;}
.feedbox .mybtn{width: 100%;}
.mydefaultbtn{width: 100%; margin-left: 0px; margin-top: 20px}
.textbox .searchbar{width: 100%; margin-top: 20px; }
.forthanking{display: block}
.thankyou{padding-bottom: 20px; padding-top:0px;}
.feedboxb{padding-top:0px; padding-bottom: 10px;}}
