@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');
html, body{
    /* box-sizing: content-box; */
    width: 100%;
    height: 100%;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: Helvetica, Arial, sans-serif;
}
body { background: #64ABDF 0 100% no-repeat; }
@media screen and (max-width: 1023px) {
  body { background: #025CAA; }
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url('./bg.jpg');
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-attachment: fixed;
  }
}
#root{
    /* box-sizing: content-box; */
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar{
    width: 5px;/* 纵向滚动条*/
    height: 5px;/* 横向滚动条 */
}

.overwapper{
  -webkit-background-size: 323px 320px;
  -moz-background-size: 323px 320px;
  -o-background-size: 323px 320px;
  height: 100%; width: 100%;
  position: fixed;
  top:0px;left:0px;
  background-size: 323px 320px;
  z-index: 0;
  opacity: 0.3;

}

.background{
position: absolute;
left: 0px; top:0px; z-index: 10;
  display: flex; width: 100%; height: 100%;
  align-items:center;
  justify-content: center;

}
.ant-btn-primary:hover, .ant-btn-primary:focus{background: #B7034E;border-color: #B7034E;}
.ant-btn-primary{border-color:#B7034E;}
/* * {font-family: 'Maven Pro', sans-serif; }*/